.latest-news {
  font-family: "Bricolage Grotesque";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
  text-transform: uppercase;
}
.geopolitics-text {
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.sports-text {
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.datetime {
  font-family: "Bricolage Grotesque";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
}
.medicine-text {
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.parcels-text {
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.innovation-hubs-text {
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
